{{>layouts/header}}
<link rel="stylesheet" href="../css/gabojagoing.css">
<script src="https://kit.fontawesome.com/c6fa23bdd7.js"
        crossorigin="anonymous"></script>
<!DOCTYPE html>
<div id="area-No0">
    <div id="area-No1">
        <div id="area-No1-1">
            <div id="pageNameGabojago">
                <a href="http://localhost:8080/gabojago" target="_blank">
                    가보자고
                </a>
                <hr>
            </div>
            <div id="writeDate">
                작성된 날짜: 2023-12-30
            </div>
            <div id="Update">
                수정된 날짜: 2024-03-18
            </div>
        </div>
        <div id="area-No1-2">
            <div id="relo">
                <div id="region"><p>청량산</p></div>
                <div id="location">인천광역시 연수구 옥련동</div>
            </div>
            <div id="GabojagoTag">
                <a href="#">#인천</a>
                <a href="#">#산</a>
                <a href="#">#청량산</a>
            </div>
        </div>
        <div id="area-No1-3">
            <div id="TextInfo">
                <hr>
                <div>
            <span>
              여기는 강원도인지 어딘지 모를 바다
              와 이쁘다 근데 너무 멀기도 하고 색은 이쁜데 노을 지니까 어 모르겠다
              배가 조금 드럽네 제주도 가서 저런 배 타고 낚시도 해보고싶다
              여기는 부산인지 어딘지 모를 바다
              와 이쁘데 노을 지니까 어 모르겠다
              배가 조금 드럽네 제주도 가서 저런 배 타고
              여기는 강원도인지 어딘지 모를 바다
              와 이쁘다 근데 너무 멀기도 하고 색은 이쁜데 노을 지니까 어 모르겠다
              배가 조금 드럽네 제주도 가서 저런 배 타고 낚시도 해보고싶다
              여기는 강원도인지 어딘지 모를 바다
              와 이쁘다 근데 너무 멀기도 하고 색은 이쁜데 노을 지니까 어 모르겠다
              배가 조금 드럽네 제주도 가서 저런 배 타고 낚시도 해보고싶다
              여기는 부산인지 어딘지 모를 바다
              와 이쁘데 노을 지니까 어 모르겠다
              배가 조금 드럽네 제주도 가서 저런 배 타고
              여기는 강원도인지 어딘지 모를 바다
              와 이쁘다 근데 너무 멀기도 하고 색은 이쁜데 노을 지니까 어 모르겠다
              배가 조금 드럽네 제주도 가서 저런 배 타고 낚시도 해보고싶다
              여기는 강원도인지 어딘지 모를 바다
              와 이쁘다 근데 너무 멀기도 하고 색은 이쁜데 노을 지니까 어 모르겠다
              배가 조금 드럽네 제주도 가서 저런 배 타고 낚시도 해보고싶다
              여기는 부산인지 어딘지 모를 바다
              와 이쁘데 노을 지니까 어 모르겠다
              배가 조금 드럽네 제주도 가서 저런 배 타고
              여기는 강원도인지 어딘지 모를 바다
              와 이쁘다 근데 너무 멀기도 하고 색은 이쁜데 노을 지니까 어 모르겠다
              배가 조금 드럽네 제주도 가서 저런 배 타고 낚시도 해보고싶다
            </span>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div id="area-No2">
        <div id="area-No2-1">
            <img src="../img/인천/cheonglyangsan1.png" alt="">
        </div>
        <div id="area-No2-2">
            <p>총 19명의 사용자가 저장한 여행지에요.</p>
        </div>
        <div id="area-No2-3">
            <ul id="icons">
                <li><a href=""><i class="fa-solid fa-bookmark"></i></a></i></li>
                <li><a href="https://twitter.com/?lang=ko" target="_blank"><i class="fa-brands fa-square-twitter"></i></a></i></li>
                <li><a href="https://www.facebook.com/?locale=ko_KR" target="_blank"><i class="fa-brands fa-square-facebook"></a></i></li>
                <li><a href="https://www.instagram.com/" target="_blank" id="instagram"><i class="fa-brands fa-instagram"></i></a></i></li>
            </ul>
        </div>
    </div>
</div>
<script src="../js/menu2.js"></script>
</body>
</html>