<div th:include="layouts/header"></div>
<link rel="stylesheet" th:href="@{/css/gabojago.css}">

<div class="intro">
    <div class="left">
        <div class="pagename">가보자고</div>
        <div class="thema">
            <a href="">
                <span>산</span>
            </a>
            <div id="border"> </div>
            <a href="">
                <span>시장</span>
            </a>
            <div id="border"> </div>
            <a href="">
                <span>테마파크</span>
            </a>
            <div id="border"> </div>
            <a href="">
                <span>카페</span>
            </a>
            <div id="border"> </div>
            <a href="">
                <span>문화</span>
            </a>
        </div>
    </div>
    <div class="center">
        <button class="prev-btn" onclick="prevCategory()">&lang;&nbsp;</button>
        <div class="cate" id="cate">
            <div class="list" th:each="locations :${locations}">
                <a href="" th:text="${locations}"></a>
            </div>
        </div>
        <button class="next-btn" onclick="nextCategory()">&nbsp;&rang;</button>
    </div>
    <div class="right">
        <input type="search" placeholder="search">
    </div>
</div>
<div class="subject">
    <div class="left">
        <a href="" id = "text1">
            <span>서울</span>
            <div id="border"></div>
            <span>시장</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text2">
            <span>인천</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text3">
            <span>인천</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text4">
            <span>서울</span>
            <div id="border"></div>
            <span>시장</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text5">
            <span>서울</span>
            <div id="border"></div>
            <span>테마파크</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text6">
            <span>서울</span>
            <div id="border"></div>
            <span>테마파크</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text7">
            <span>서울</span>
            <div id="border"></div>
            <span>테마파크</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text8">
            <span>서울</span>
            <div id="border"></div>
            <span>테마파크</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text9">
            <span>서울</span>
            <div id="border"></div>
            <span>테마파크</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text10">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
    </div>
    <div class="right">
        <img id="image" src="../img/loc/강원/강원-BTS버스정류장.jpg" alt=""></div>
</div>
<script th:src="@{/js/GAXGA.js}"></script>
<script th:src="@{/js/menu2.js}"></script>
<script th:src="@{/js/carousel.js}"></script>
<script th:src="@{/js/search.js}"></script>
</body>
</html>