{{>layouts/header}}
<link rel="stylesheet" href="../css/gabojago.css">
<link rel="stylesheet" href="../css/Fonts.css">
<link rel="stylesheet" href="../css/menupage.css">
<link rel="stylesheet" href="../css/header.css">
<div class="intro">
    <div class="left">
        <div class="pagename">가보자고</div>
        <div class="thema">
            <a href="">
                <span>산</span>
            </a>
            <div id="border"> </div>
            <a href="">
                <span>시장</span>
            </a>
            <div id="border"> </div>
            <a href="">
                <span>테마파크</span>
            </a>
            <div id="border"> </div>
            <a href="">
                <span>카페</span>
            </a>
            <div id="border"> </div>
            <a href="">
                <span>문화</span>
            </a>
        </div>
    </div>
    <div class="center">
        <button class="prev-btn" onclick="prevCategory()">&lang;&nbsp;</button>
        <div class="cate" id="cate">
            <div class="list"><a href="">지역</a></div>
            <div class="list">강원</div>
            <div class="list">경기</div>
            <div class="list">경남</div>
            <div class="list">경북</div>
            <div class="list">광주</div>
            <div class="list">대구</div>
            <div class="list">대전</div>
            <div class="list">부산</div>
            <div class="list">서울</div>
            <div class="list">세종</div>
            <div class="list">울산</div>
            <div class="list">인천</div>
            <div class="list">전남</div>
            <div class="list">전북</div>
            <div class="list">제주</div>
            <div class="list">충남</div>
            <div class="list">충북</div>
        </div>
        <button class="next-btn" onclick="nextCategory()">&nbsp;&rang;</button>
    </div>
    <div class="right">
        <input type="search" placeholder="search" autocomplete="on">
    </div>
</div>
<div class="subject">
    <div class="left">
        <a href="" id = "text1">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text2">
            <span>인천</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text3">
            <span>인천</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text4">
            <span>서울</span>
            <div id="border"></div>
            <span>테마파크</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text5">
            <span>서울</span>
            <div id="border"></div>
            <span>테마파크</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text6">
            <span>서울</span>
            <div id="border"></div>
            <span>테마파크</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text7">
            <span>서울</span>
            <div id="border"></div>
            <span>테마파크</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text8">
            <span>서울</span>
            <div id="border"></div>
            <span>테마파크</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text9">
            <span>서울</span>
            <div id="border"></div>
            <span>테마파크</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text10">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text11">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text12">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text13">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text14">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text15">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text16">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text17">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text18">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text19">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text20">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text21">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text22">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text23">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text24">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>인천</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>인천</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>인천</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>인천</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>인천</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>인천</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
        <a href="" id = "text25">
            <span>서울</span>
            <div id="border"></div>
            <span>산</span>
            <div id="border"></div>
            <span>도봉산</span>
        </a>
    </div>
    <div class="right"><img id="image" src="../img/loc/강원/강원-BTS버스정류장.jpg" alt=""></div>
</div>
<script src="../js/GAXGA.js"></script>
<script src="../js/menu2.js"></script>
<script src="../js/carousel.js"></script>
</body>
</html>