<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/joinMembership.css">
    <title>GAXGA_JOINMEMBERSHIP</title>
</head>
<body>
<div id="container">
    <div id="inner">
        <div id="membershipLogo">
            <a href="../html/header.html"><h2>GA X GA</h2></a>
        </div>
        <div id="content">
            <h3>Sign Up</h3>
            <form action="/joinMembership/create" method="post">
                <div id="form_content">
                    <div id="form_id" class="inputs">
                        <div class="icon">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="inputInfo">
                            <input type="text" name="gaId" placeholder="아이디를 입력하세요.(4~12글자)" maxlength="12">
                            <div class="line"></div>
                        </div>
                    </div>
                    <div id="form_password" class="inputs">
                        <div class="icon">
                            <i class="fa-solid fa-unlock"></i>
                        </div>
                        <div class="inputInfo">
                            <input type="password" name="gaPass" placeholder="비밀번호를 입력하세요.(8~12글자)" maxlength="12">
                            <div class="line"></div>
                        </div>
                    </div>
                    <div id="form_nickname" class="inputs">
                        <div class="icon">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="inputInfo">
                            <input type="text" name="gaNick" placeholder="닉네임을 입력하세요.(4~12글자)" maxlength="12">
                            <div class="line"></div>
                        </div>
                    </div>
                    <div id="form_phoneNumber" class="inputs">
                        <div class="icon">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="inputInfo">
                            <input type="tel" name="gaPhone" id="userPhoneNum" placeholder="휴대전화번호를 입력하세요" maxlength="13" minlength="13" oninput="AutoHyphen(this)">
                            <div class="line"></div>
                        </div>
                    </div>
                    <div id="form_address" class="inputs">
                        <div class="icon">
                            <i class="fa-solid fa-address-card"></i>
                        </div>
                        <div class="inputInfo">
                            <div class="divide_Address">
                                <input type="text" name="gaAddress" id="postal" placeholder="주소를 입력하세요">
                                <input type="text" name="gaDetailAddress" id="detailAddress" placeholder="나머지를 입력하세요">
                                <div class="line"></div>
                            </div>
                        </div>
                        <div id="find_Address">
                            <button type="button">찾기</button>
                        </div>
                    </div>
                    <div id="form_email" class="inputs">
                        <div class="icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div id="inputEmail">
                            <input type="email" name="gaEmail" id="userEmail" placeholder="이메일을 입력하세요">
                        </div>
                        <div id="selectEmail">
                            <span>@</span>
                            <select name="emailType" id="emailType">
                                <option value="naver">naver.com</option>
                                <option value="google">google.com</option>
                                <option value="google">nate.com</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="btn_submit">
                    <input type="submit" value="확인" class="submit">
                    <input type="submit" value="취소" class="submit">
                </div>
            </form>
        </div>
        <div id="bottom">
            <div id="agreement">
                <span><a href="terms.html">이용약관</a></span>
                <span><a href="privacy.html">개인정보처리방침</a></span>
                <span><a href="copyright.html">저작권정책</a></span>
            </div>
            <div id="info">
                <p>
                    <b>GA X GA</b>
                    Copyright © All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/1e9b513c90.js"></script>
<script src="js/autoSetup.js"></script>
<script src="js/joinMembership.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>