html{
  height: 100%;
  scroll-behavior: smooth;
}
body{
  background-color: black;
}

::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-thumb {
  background-color: #0a504b;
  border-radius: 10px;
  background-clip: padding-box;
  box-shadow: inset 2px 2px 5px 2px #000000;
}
::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 10px;
}

*{
  margin: 0;
  padding: 0;
}

video {
  position :absolute;
  top : 0;
  left: 0;
  width : 100%;
  height: 100%;
  object-fit : cover;
  z-index: 0;
}

.video-container {
  width: 100%;
  height: 89vh;
  background-color: black;
}


.page {
  width: 100%;
  height: 1080px; /* 화면 크기만큼 */
  position: relative;
  background-color: black;
  opacity: 0;
  transition: all 0.3s;
}

.page #insertP {
  width: 1300px;
  font-family: 'GmarketSans';
  font-weight: 600;
  font-size: 160px;
  color: white;
  text-shadow: 0px 5px 8px rgb(53, 49, 49);
}
.goText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*@keyframes lightSpeedInLeft {*/
/*  0% {*/
/*    transform: translate(50%,-50%);*/
/*    opacity: 0;*/
/*  }*/
/*  50% {*/
/*    transform: translate(-50%,-50%);*/
/*    opacity: 1;*/
/*  }*/
/*  100% {*/
/*    transform: translate(-100%,-50%); !* 요소를 오른쪽으로 이동하는 키프레임 추가 *!*/
/*    opacity: 0;*/
/*  }*/
/*}*/

.page #pageContent1{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.page #pageInfo1{
  padding-top: 150px;
  padding-left: 150px;
  float: left;
  width: 647px;
  height: 345px;
}

.page #pageImg1{
  padding-top: 120px;
  padding-right: 150px;
  float: left;
  width: 611px;
  height: 100%;
}
.page #pageImg1 img{
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 20px;
}


.page #bar1{
  width: 875px;
  height: 12px;
  background-color: #1F3E0B;
  border-radius: 3px;
}
.page #bar2{
  width: 765px;
  height: 7px;
  background-color: #162B09;
  border-radius: 3px;
}

.page #bar3{
  width: 420px;
  height: 12px;
  background-color: #1F3E0B;
  border-radius: 3px;
  transform: rotate(90deg);

}
.page #bar4{
  width: 375px;
  height: 7px;
  background-color: #162B09;
  border-radius: 3px;
  transform: rotate(90deg);
}

<!-- -->
<!-- -->
<!-- -->
<!-- -->

.page .contentBar1{
  position: absolute;
  /*animation: slideIn1 1s ease;*/
  top: 60px;
  left: 110px;
}

/*@keyframes slideIn1 {*/
/*  from{*/
/*    left: -110px;*/
/*    opacity: 0;*/
/*  }*/
/*  to{*/
/*    left: 110px;*/
/*    opacity: 1;*/
/*  }*/
/*}*/

.page .contentBar2 {
  position: absolute;
  /*animation: slideIn2 1.3s ease;*/
  top: 80px;
  left: 110px;
}

/*@keyframes slideIn2 {*/
/*  from{*/
/*    left: -110px;*/
/*    opacity: 0;*/
/*  }*/
/*  to{*/
/*    left: 110px;*/
/*    opacity: 1;*/
/*  }*/
/*}*/

.page .contentBar3 {
  position: absolute;
  /*animation: slideIn3 0.8s ease;*/
  top: 700px;
  left: 1580px;
}

/*@keyframes slideIn3 {*/
/*  from{*/
/*    top: 900px;*/
/*    opacity: 0;*/
/*  }*/
/*  to{*/
/*    top: 700px;*/
/*    opacity: 1;*/
/*  }*/
/*}*/

.page .contentBar4 {
  position: absolute;
  /*animation: slideIn4 1.2s ease;*/
  top: 724px;
  left: 1620px;
}

/*@keyframes slideIn4 {*/
/*  from{*/
/*    top: 900px;*/
/*    opacity: 0;*/
/*  }*/
/*  to{*/
/*    top: 724px;*/
/*    opacity: 1;*/
/*  }*/
/*}*/


.p1-slide5{
  /*animation: slideIn5 1.5s ease;*/
}

/*@keyframes slideIn5 {*/
/*  from {*/
/*    transform: translate(0.2%, -20%);*/
/*    opacity: 0;*/
/*  }*/
/*  to {*/
/*    transform: translate(0.2%, 0.2%);*/
/*    opacity: 1;*/
/*  }*/
/*}*/




/*.p1-slide6{*/
/*  animation: slideIn6 1.3s ease;*/
/*}*/

/*@keyframes slideIn6 {*/
/*  from {*/
/*    transform: translate(30%, 0.2%);*/
/*    opacity: 0;*/
/*  }*/
/*  to {*/
/*    transform: translate(0.2%, 0.2%);*/
/*    opacity: 1;*/
/*  }*/
/*}*/

.p1-slide7{
  /*position: absolute;*/
  /*top : 600px;*/
  /*right: 0;*/
  /*animation: slideIn7 1.2s ease;*/
}

/*@keyframes slideIn7 {*/
/*  0% {*/
/*    top: 1080px;*/
/*    opacity: 0;*/
/*  }*/
/*  100% {*/
/*    top : 600px;*/
/*    opacity: 1;*/
/*  }*/
/*}*/



.page #pageInfo1 p{
  font-family: 'GmarketSans';
  font-weight: 600;
  font-size: 60px;
  line-height: 150%;
  color: #929090;
}
.page #pageInfo1 p span{
  font-family: 'GmarketSans';
  font-weight: 600;
  font-size: 60px;
  line-height: 150%;
  color: #FFFFFF;
}
.page #GaInfo1 {
  margin-right : 500px;
  position: absolute;
  top : 600px;
  right: 0;

}
.page #GaInfo1 p{
  font-family: 'GmarketSans';
  font-weight: 600;
  font-size: 130px;
  line-height: 30%;
  color: #FFFFFF;

}
.page #GaInfo1 p:not(:first-child){
  padding-left: 180px;
}
.page #GaInfo1 p span{
  font-family: 'GmarketSans';
  font-weight: 600;
  line-height: 120%;
  color: #C8FCC0;
}
.page #imgInfo1 {
  font-family: 'GmarketSans';
  font-weight: 400;
  font-size: 25px;
  color: #FFFFFF;
  float: left;
  margin-left: 120px;
  margin-top: 25px;
}
.page #imgInfo1 p{
  width: 334px;
  height: 20px;
  top: 80px;
  left: 90px;
}

.page #insertP2{
  width: 1300px;
  font-family: 'GmarketSans';
  font-weight: 600;
  font-size: 150px;
  text-shadow: 0px 5px 8px rgb(53, 49, 49);
  color: white;
}

.comeText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*animation: slideOutIn 4s ease-out infinite;*/
}

/*@keyframes slideOutIn {*/
/*  0% {*/
/*    transform: translate(150%,-50%);*/
/*    opacity: 0;*/
/*  }*/
/*  50% {*/
/*    transform: translate(-50%,-50%);*/
/*    opacity: 1;*/
/*  }*/
/*  100% {*/
/*    transform: translate(-150%,-50%); !* 요소를 오른쪽으로 이동하는 키프레임 추가 *!*/
/*    opacity: 0;*/
/*  }*/
/*}*/
.page #pageContent2{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.page #pageImg2{
  padding-top: 120px;
  padding-left: 150px;
  float: right;
  width: 611px;
  height: 750px;
  /*transform: translate(0.2%, 0.2%);*/
}
.page #pageImg2 img{
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 20px;
}
.page #pageInfo2{
  padding-top: 150px;
  padding-right: 150px;
  text-align: right;
  float: right;
  width: 652px;
  height: 345px;
}


.page .contentBar5 {
  position: absolute;
  /*animation: slideIn25 1s ease;*/
  top: 60px;
  right: 110px;
}

/*@keyframes slideIn25 {*/
/*  from{*/
/*    right: 20px;*/
/*    opacity: 0;*/
/*  }*/
/*  to{*/
/*    right: 110px;*/
/*    opacity: 1;*/
/*  }*/
/*}*/


.page .contentBar6 {
  position: absolute;
  /*animation: slideIn26 1.5s ease;*/
  top: 80px;
  right: 110px;
}

/*@keyframes slideIn26 {*/
/*  from{*/
/*    right: 20px;*/
/*    opacity: 0;*/
/*  }*/
/*  to{*/
/*    right: 110px;*/
/*    opacity: 1;*/
/*  }*/
/*}*/


.page .contentBar7 {
  position: absolute;
  /*animation: slideIn27 1s ease;*/
  top: 700px;
  right: 1620px;
}

/*@keyframes slideIn27 {*/
/*  from{*/
/*    top: 950px;*/
/*    opacity: 0;*/
/*  }*/
/*  to{*/
/*    top: 700px;*/
/*    opacity: 1;*/
/*  }*/
/*}*/

.page .contentBar8 {
  position: absolute;
  /*animation: slideIn28 0.8s ease;*/
  top: 724px;
  right: 1620px;
}

/*@keyframes slideIn28 {*/
/*  from{*/
/*    top: 950px;*/
/*    opacity: 0;*/
/*  }*/
/*  to{*/
/*    top: 724px;*/
/*    opacity: 1;*/
/*  }*/
/*}*/


.page #bar5{
  width: 875px;
  height: 12px;
  background-color: #A8C9FF;
  border-radius: 3px;
}
.page #bar6{
  width: 765px;
  height: 7px;
  background-color: #5284C3;
  border-radius: 3px;

}
.page #bar7{
  width: 420px;
  height: 10px;
  background-color: #A8C9FF;
  border-radius: 3px;
  transform: rotate(90deg);

}
.page #bar8{
  width: 375px;
  height: 7px;
  background-color: #5284C3;
  border-radius: 3px;
  transform: rotate(90deg);
}
.page #pageInfo2 p{
  font-family: 'GmarketSans';
  font-weight: 600;
  font-size: 60px;
  line-height: 150%;
  color: #929090;
}
.page #pageInfo2 p span{
  font-family: 'GmarketSans';
  font-weight: 600;
  font-size: 60px;
  line-height: 150%;
  color: #FFFFFF;
}
.page #GaInfo2{
  margin-right:600px;
  position: absolute;
  right: 0;
  top : 600px;

}
.page #GaInfo2 p{
  font-family: 'GmarketSans';
  font-weight: 600;
  font-size: 130px;
  line-height: 30%;
  color: #FFFFFF;
}
.page #GaInfo2 p:not(:first-child){
  padding-left: 180px;
}
.page #GaInfo2 p span{
  font-family: 'GmarketSans';
  font-weight: 600;
  line-height: 120%;
  color: #BDE3FF;
}



/*.p2-slide5{*/
/*  animation: slideIn25 1.5s ease;*/
/*}*/

/*@keyframes slideIn25 {*/
/*  0% {*/
/*    transform: translate(-25%, 0.2%);*/
/*    opacity: 0;*/
/*  }*/
/*  100% {*/
/*    transform: translate(0.2%, 0.2%);*/
/*    opacity: 1;*/
/*  }*/
/*}*/


.p2-slide6{
  /*animation: slideIn26 1.5s ease;*/
}

/*@keyframes slideIn26 {*/
/*  00% {*/
/*    transform: translate(0.2%, -20%);*/
/*    opacity: 0;*/
/*  }*/
/*  100% {*/
/*    transform: translate(0.2%, 0.2%);*/
/*    opacity: 1;*/
/*  }*/
/*}*/




.p2-slide7{
  /*position: absolute;*/
  /*top : 600px;*/
  /*right: 0;*/
  /*animation: slideIn27 1.2s ease;*/
}


/*@keyframes slideIn27 {*/
/*  0% {*/
/*    top: 1080px;*/
/*    opacity: 0;*/
/*  }*/
/*  100% {*/
/*    top : 600px;*/
/*    opacity: 1;*/
/*  }*/
/*}*/



.page #imgInfo2 {
  font-family: 'GmarketSans';
  font-weight: 400;
  font-size: 25px;
  color: #FFFFFF;
  float: right;
  margin-right: 120px;
  margin-top: 25px;
}
.page #imgInfo2 p{
  width: 334px;
  height: 20px;
  top: 80px;
  right: 90px;
}

footer .page{
  background-color: #063F3B;
  width : 100%;
  height : 100%
}

footer #top{
  display: flex;
  justify-content: space-between;
  padding-top: 390px;
  font-family: 'GmarketSans';
  font-weight: 400;
  font-size: 25px;
  color: #CDCBCB;
}
footer #policy2{
  margin-top: 60px;
  font-size: 22px;
  color: #CDCBCB;
  text-align: center;
}
footer #policy2 a{
  color: #CDCBCB;
  text-decoration-line: none;
  font-family: 'GmarketSans';
  font-weight: 400;
}

.page #footerImg{
  width: 100%;
}
footer Img{
  width: 100%;
  position: relative;
  bottom: 0;
}

footer #backTop{
  text-align: right;
  font-family: 'DMSerif';
  font-weight: 400;
}
footer #top a{
  color: #CDCBCB;
  text-decoration-line: none;
}

