*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container{
  font-family: 'GmarketSans';
  font-weight: 500;
  width: 730px;
  height: 100%;
  margin: 0 auto;
}

#top{
  text-align: center;
  margin-bottom: 40px;
}
#top #logo{
  font-size: 40px;
  font-weight: 600;
  height: 96px;
  line-height: 96px;
}
#top #logo a{
  text-decoration-line: none;
}
#top #logo a:visited{
  color: black;
}

#top #title{
  font-size: 32px;
  font-weight: 600;
  height: 110px;
  line-height: 110px;
  border-bottom: 1px solid #8E8E8E;
}

#content .category{
  padding-bottom: 20px;
}

#content .category .text:first-child{
  padding-top: 20px;
}

#content li:nth-child(2) ul li:first-child ul li{
  list-style-type: disc;
  margin-left: 20px;
}
/* #content .circle{
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background-color: black;
  border-radius: 10px;
} */