    *{
      margin: 0;
      padding: 0;
    }
    html{
      scrollbar-width: thin;
      backdrop-filter: black;
    } 
    *{
      margin: 0;
      padding: 0;
    }
    html{
      scrollbar-width: thin;
      backdrop-filter: black;
    }
    header{
      position: sticky;
      display: flex;
      top: 0px;
      height: 10vh;
      align-items: center;
      z-index: 100;
      /* background-color: black; */
    }
    .element{
      width: 33%;
    }
    
    .mainP{
      display: flex;
      background-color: #000;
    }
    
    .mainP .element1{
      width: 100%;
    }
    .mainP #profile {
      height: 50px; 
      padding-left: 30px;
    }
    
    .mainP #logo{
      font-family: 'DMSerif';
      font-weight: 500;
      font-size: 35px;
      text-align: center;
    
    }
    #logo a {
      text-decoration-line: none;
      color: #FFFFFF;
      font-size: 60px;
      text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    }
    
    #elementMenu {
      text-align: right;
      padding-right: 30px;
    }
    .element #menutap {
      text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    
    }
    
    #menutap{
      font-family: 'DMSerif';
      font-weight: 500;
      font-size: 30px;
      color: white;
      text-align: right;
      list-style: none;
      background-color: transparent;
      border: none;
      cursor: pointer;
    
    }
    
    #menuTapPage{
      display: none;
      background-color: black;
      width: 1920px;
      height: 1080px;
      position :absolute;
      top : 100px;
      left: 0;
    }
    .menuPage{
      display: flex;
      flex-direction: column;
      background-color: #063F3B;
      width: 100%;
      height: 600px;
    }
    .companyContents{
      display: flex;
      font-family: 'GmarketSans';
      font-weight: 400;
      width: 100%;
      height: 95%;
    }
    .companyContents #companyInfo{
      letter-spacing : 4px;
      text-align: right;
      font-size: 25px;
      color: #CDCBCB;
    }
    .companyContents #socialShare img {
      width: 376PX;
      height: 55px;
      margin: 10px;
    }
    .menu {
      font-family: 'GmarketSans';
      font-weight: 400;
      width: 50%;
      font-size: 72px;
      list-style-type: none;
      color: #063F3B;
      text-align: left;
      margin-left: 60px;
    }
    .menu ul {
      list-style-type: none;
      
    }
    .menu ul li {
      margin: 20px 0px;
    }
    .menu ul li a {
      text-decoration-line: none;
      
    }
    .menu ul li a:visited{
      color: #CDCBCB;
      
    }
    #rightContent {
      width: 50%;
      text-align: right;
      margin-right: 60px;
      margin-top: 320px;
    }
    
    #policy {
      font-family: 'GmarketSans';
      font-size: 25px;
      width: 100%;
      height: 10%;
      list-style: none;
      text-align: center;
    }
    #policy ul li {
      list-style-type: none;
      display: inline;
      
    }
    #policy ul li a {
      color: #CDCBCB;
      text-decoration-line: none;
      
    }
    #policy ul li a:visited{
      color: #CDCBCB;
    }
    .intro {
      display: flex;
      width: 100%;
      height: 20vh;
      background-color: #000;
      color: #d8d8d8;
      
    }
    .intro .left, .center, .right {
      flex: 1;
      padding: 10px;
      resize: none;
      white-space: nowrap;
    }
    .intro .left{
      height: 90%;
      display: flex;
      flex-direction: column;
      order: 3;
      justify-content: space-between;
    }
    .intro .left .pagename {
      display: flex;
      align-items: end;
      justify-content: end;
      font-size: 120px;
      font-family: 'GmarketSans';
      font-weight: 600;
    }
    .intro .left .thema {
      display: flex;
      justify-content: end;
      align-self: end;
      font-family: 'GmarketSans';
      font-weight: 500;
      font-size: 25px;
    }
    .intro .left .thema a{
      width: 100%;
      text-decoration-line: none;
      color: #adadad;
      padding-right: 30px;
      padding-left: 30px;
    }
    .subject .left span{
      margin: 0px 4px;
    }
    /* .intro .left .thema div{
      width: 1px;
      background-color: #adadad;
      height: 30px;
      margin: 0px 5px;
      align-self: center;
      
    } */
    .intro .left .thema a:hover {
      color: #969696;
      
    }
    .intro .left .thema pre{
      font-size: 30px;
      color: #333333;
      font-family: 'GmarketSans';
      font-weight: 500;
    }
    .intro .center {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 50px;
      position: relative;
      max-width: 120px;
      padding: 0 20px;
      order: 2;
    }
    .intro .center .cate{
      overflow: hidden;
      /* white-space: nowrap; */
      padding: 10px;
    }
    .intro .center .list {
      display: inline-block;
      font-family: 'GMARKETSANSB';
      font-family: 'GmarketSans';
      font-weight: 600;
    }
    .intro .center button {
      text-decoration-line: none;
      color: #fff;
      font-size: 50px;
      border:none;
      background-color: #000;
    }
    .intro .center .prev-btn,
    .intro .center .next-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      cursor: pointer;
    }
    .center .prev-btn {
      left: 0;
    }
    .center .next-btn {
      right: 0
    ;
    }
    .intro .center button:hover {
      color: #063F3B;
    }
    .intro .right {
      display: flex;
      justify-content: flex;
      align-items: end;
      order: 1;
    }
    .intro .right input {
      /* margin-top: 120px; */
      width: 35%;
      height: 40px;
      background: transparent;
      color: #fff;
      font-size: 35px;
      line-height: 1;
      font-weight: normal;
      text-align: center;
      font-family: 'DMSerif';
      font-weight: 400;
      border-right: none;
      border-top: none;
      border-left: none;
      border-bottom-width: 1px;
      margin-left: 20px;
    }
    .intro ::placeholder{
      color: #27292A;
    }
    .subject {
      width: 100%;
      height: 70vh;
      background-color: #000;
      display: flex;
      border: 1px;
    }
    .subject .left{
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      font-size: 30px;
      font-family: 'GMARKETSANSB';
      overflow-y: auto;
      order: 1;
    }
    ::-webkit-scrollbar {
      display: none;
    }
    .subject .left a {
      width: 100%;
      text-align: center;
      flex-grow: 1;
      text-decoration-line: none;
      color: #adadad;
      align-content: center;
      padding: 30px 0px;
      font-family: 'GmarketSans';
      font-weight: 400;
      font-size: 40px;
      display: flex;
      justify-content: center;
    }
    .subject .left span{
      margin: 0px 3px;
    }
    .subject .left div{
      height: 40px;
      width: 1px;
      background-color: #adadad;
      margin: 0px 5px;
    }
    .subject .left a:hover {
      color: #fff;
      background-color: #063F3B ;
    }
    .subject .right {
      padding: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .subject .right img{
      width: 95%;
      height: 95%;
      border-radius: 10px;
    }