
<div th:include="layouts/header"></div>
<link rel="stylesheet" th:href="@{/css/post2.css}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  <div class="wrap">
    <div class="post-result">
      <div class="review-title">
        <h2>가봤다고</h2>
        <p>후기 게시글 작성</p>
      </div>
      <form action="/gabowatdago/create" method="POST" id="myForm">
        <div class="review-name">
          <input name="title" type ="text" maxlength="40" placeholder="제목을 입력하세요">
        </div>
        <div id="line"></div>
        <div class="select">
          <div class="local" style="width: 20%;">
<!--            <label>지역 선택 :</label>-->
        <select name="local" class="form-select">
          <option selected>지역</option>
          <option>서울</option>
          <option>경기</option>
          <option>강원</option>
          <option>충북</option>
          <option>충남</option>
          <option>경북</option>
          <option>경남</option>
        </select>
          </div>
          <div class="tema" style="width: 20%";>
<!--            <label>테마 선택:</label>-->
        <select name="thema" class="form-select">
          <option selected>테마</option>
          <option>산</option>
          <option>축제</option>
          <option>카페</option>
          <option>맛집</option>
          <option>바다</option>
        </select>
          </div>
          <div class="date" style="width: 60%; text-align: right">
          </div>
        </div>
        <div class="file-area">
          <div class="file-input" style="width: 50%;">
            <label> 여행지 사진 첨부 </label>
            <div class="input-group mb-3">
              <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload" multiple accept="image/*" name=image>
            </div>
          </div>
          <div class="writer" style="width: 50%; text-align: right;" >
              로그인한 작성자 닉네임
          </div>
        </div> 
        <div id="textContent">
          <textarea name="content" id="content" cols="130" rows="20" placeholder="내용을 입력해주세요"></textarea>
        </div>

        <div id="address_Area">
            <label><h5>여행지 주소</h5></label>
            <div class="input-group mb-3">
                <button class="btn btn-outline-secondary" type="button" id="button-addon1" onclick="sample5_execDaumPostcode()">주소 검색</button>
                <input type="text" name="address"  id="sample5_address" class="form-control" placeholder="주소" aria-label="Example text with button addon" aria-describedby="button-addon1">
                <input type="text" name="de_address" id="sample5_detailAddress" class="form-control" placeholder="상세주소를 입력해주세요!" aria-label="Example text with button addon" aria-describedby="button-addon1">
            </div>
        </div>
          <div id="map"></div>
          <input type="hidden" name="lat" id="latitude">
          <input type="hidden" name="lng" id="longitude">
        <div id="submit_Area">
            <button style="float: right; margin-top: 5px; margin-bottom: 20px" type="submit" id="submitButton" class="btn btn-secondary" >게시하기</button>
        </div>
      </form>
    </div>
  </div>
<script th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?appkey=6d7e2f086ffa97eb8f4b35fa8cc12439&libraries=services'}"></script>
<script th:src="@{https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
<script th:src="@{/js/post.js}"></script>
<script th:src="@{/js/menu.js}"></script>
</body>
</html>