<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/gabojagoing.css}">
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://kit.fontawesome.com/c6fa23bdd7.js"
            crossorigin="anonymous"></script>
    <title>GAXGA</title>
</head>
<body>
<th:block th:replace="~{public/layouts/header2:: header}"></th:block>
<div id="ggMain">
    <div id="area-No0" th:if="${gabojagoing != null}" th:object="${gabojagoing}">
        <div id="area-No1">
            <div id="area-No1-1">
                <div id="pageNameGabojago">
                    <a th:href="@{'/gabojago'}">가보자고</a>
                    <hr>
                </div>
                <div id="Update" th:text="'수정된 날짜: ' + *{#temporals.format(posting, 'yyyy-MM-dd HH:mm:ss')}"></div>
            </div>
            <div id="area-No1-2">
                <div id="relo">
                    <div id="region" th:text="*{name}"></div>
                    <div id="location" th:text="*{state}"></div>
                </div>
                <div id="GabojagoTag">
                    <a href="#" id="searchLink" th:data-name="*{region.name}" onclick="showModal()" th:text="'#' + *{region.name}"></a>

                    <!-- 모달 -->
<!--                    <div id="searchModal" class="modal">-->
<!--                        <div class="modal-content">-->
<!--                            <span class="close" onclick="closeModal()">&times;</span>-->
<!--                            <p>구글로 이동하시겠습니까 네이버로 이동하시겠습니까?</p>-->
<!--                            <div class="modal-buttons">-->
<!--                                <button onclick="redirectToSearch('google')">구글</button>-->
<!--                                <button onclick="redirectToSearch('naver')">네이버</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <a th:href="@{'https://www.google.com/search?q=' + *{thema.name}}" target="_blank" th:text="'#' + *{thema.name}"></a>
                    <a th:href="@{'https://www.google.com/search?q=' + *{name}}" target="_blank" th:text="'#' + *{name}"></a>
                </div>
            </div>
            <div id="area-No1-3">
                <div id="TextInfo">
                    <hr>
                    <div>
                        <span th:text="*{text}"></span>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div id="area-No2">
            <div id="area-No2-1">
                <img th:src="@{'/' + *{img}}" alt="">
            </div>
            <div id="area-No2-2">
                <p class="jjim" th:text="*{jjimcount} + '명 이 저장한 게시글 입니다'"></p>
            </div>
            <div id="area-No2-3">
                <ul id="icons">
                    <input type="hidden" id="jjim_input" th:value="${user}">
                    <input type="hidden" id="gabojago_id" th:value="*{id}">
                    <li>
                        <a href="#"><i class="fa-solid fa-bookmark" id="jjim_before"></i></a>
                        <a href="#"><i class="fa-solid fa-bookmark" style="color: #ff0033; display: none" id="jjim_after"></i></a>
                    </li>
                    <li><a href="https://twitter.com/?lang=ko" target="_blank"><i class="fa-brands fa-square-twitter"></i></a></i></li>
                    <li><a href="https://www.facebook.com/?locale=ko_KR" target="_blank"><i class="fa-brands fa-square-facebook"></a></i></li>
                    <li><a href="https://www.instagram.com/" target="_blank" id="instagram"><i class="fa-brands fa-instagram"></i></a></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/menu2.js}"></script>
<script th:src="@{/js/gabojago/jjim.js}"></script>
<script>
    // 모달 열기
    function showModal() {
        var modal = document.getElementById("searchModal");
        modal.style.display = "block";
    }

    // 모달 닫기
    function closeModal() {
        var modal = document.getElementById("searchModal");
        modal.style.display = "none";
    }

    // 검색 엔진 선택에 따라 리다이렉트
    function redirectToSearch(engine) {
        var regionName = document.getElementById('searchLink').getAttribute('data-name');
        var searchUrl;

        if (engine === 'google') {
            searchUrl = 'https://www.google.com/search?q=' + encodeURIComponent(regionName);
        } else if (engine === 'naver') {
            searchUrl = 'https://search.naver.com/search.naver?query=' + encodeURIComponent(regionName);
        }

        window.open(searchUrl, '_blank');
        closeModal();
    }

    // 모달 외부 클릭 시 닫기
    window.onclick = function(event) {
        var modal = document.getElementById("searchModal");
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>