<link rel="stylesheet" href="../css/post2.css">
{{>layouts/header}}

  <div class="wrap">
    <div class="post-result">
      <div class="review-title">
        <h2>가봤다고</h2>
        <p>후기 게시글 작성</p>
      </div>
      <form action="/gabowatdago/create" method="POST">
        <div class="review-name">
          <input name="title" type ="text" maxlength="40" placeholder="제목을 입력하세요">
        </div>
        <div id="line"></div>
        <div class="select">
          <div class="local" style="width: 20%;">
            <label>지역 선택 :</label>
        <select name="local">
          <option>서울</option>
          <option>경기</option>
          <option>강원</option>
          <option>충북</option>
          <option>충남</option>
          <option>경북</option>
          <option>경남</option>
        </select>
          </div>
          <div class="tema" style="width: 20%";>
            <label>테마 선택:</label>
        <select name="thema">
          <option>산</option>
          <option>축제</option>
          <option>카페</option>
          <option>맛집</option>
          <option>바다</option>
        </select>
          </div>
          <div class="date" style="width: 60%; text-align: right">
          </div>
        </div>
        <div class="file-area">
          <div class="file-input" style="width: 50%;">
          <label for="image">사진 첨부 :</label>
        <input type="file" id="fileInput" multiple accept="image/*" name=image>
          </div>
          <div class="writer" style="width: 50%; text-align: right;" >
              로그인한 작성자 닉네임
          </div>
        </div> 
        <div id="textContent">
          <textarea name="content" id="content" cols="130" rows="20" placeholder="내용을 입력해주세요"></textarea>
        </div>
        <div id="address_Area">
          <label for="address">여행지 주소:</label>
          <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색">
            <input type="text" id="sample5_address"  placeholder="주소" name="address">
            <input type="text" id="sample5_detailAddress" placeholder="상세주소" name="de_address">

        </div>
        <div id="map"></div>
        <div id="submit_Area">
          <input style="float: right;" type="submit" value="게시하기">
        </div>
      </form>
    </div>
  </div>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6d7e2f086ffa97eb8f4b35fa8cc12439&libraries=services"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="../js/post.js"></script>
<script src="../js/menu.js"></script>
<script>
    var today = new Date();
    const date = document.querySelector(".date");
    var year = today.getFullYear();
    var month = ('0' + (today.getMonth() + 1)).slice(-2);
    var day = ('0' + today.getDate()).slice(-2);

    var dateString = year + '-' + month  + '-' + day;

    date.innerText = `${dateString}`;
</script>
</body>
</html>