<link rel="stylesheet" href="../css/post_result_.css">
{{>layouts/header}}
{{#gabowatdago}}
    <div class="Waarea">
      <div class="Waleft">
        <div class="Waname">가봤다고</div>
        <div class="Waprofile">
          <div class="WaprofileA">
            <div class="Waimg-area">
              <div><img src="../img/cata.png" class="Waimg" alt=""></div>
            </div>
            <div class="Walist">
              <div>list1</div>
              <div>list2</div>
              <div>list3</div>
            </div>
          </div>
          <div class="WaprofileB">
            <div class="Wausername"></div>
            <div class="Waemail"></div>
          </div>
        </div>
        <div class="intro">
          <div>님! 비슷한 여행지를 추천드려요</div>
        </div>
        <div class="review-list-box">
          <div class="review-list">
            <div class="review-image">
              <img src="../img/wolmido.png">
            </div>
            <div class="review-info">
              <div class="review-name"><a href="#">월미도</a></div>
              <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
            </div>
          </div>
          <div class="review-list">
            <div class="review-image">
              <img src="../img/wolmido.png">
            </div>
            <div class="review-info">
              <div class="review-name"><a href="#">월미도</a></div>
              <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
            </div>
          </div>
          <div class="review-list">
            <div class="review-image">
              <img src="../img/wolmido.png">
            </div>
            <div class="review-info">
              <div class="review-name"><a href="#">월미도</a></div>
              <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
            </div>
          </div>
          <div class="review-list">
            <div class="review-image">
              <img src="../img/wolmido.png">
            </div>
            <div class="review-info">
              <div class="review-name"><a href="#">월미도</a></div>
              <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
            </div>
          </div>
          <div class="review-list">
            <div class="review-image">
              <img src="../img/wolmido.png">
            </div>
            <div class="review-info">
              <div class="review-name"><a href="#">월미도</a></div>
              <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
            </div>
          </div>
          <div class="review-list">
            <div class="review-image">
              <img src="../img/wolmido.png">
            </div>
            <div class="review-info">
              <div class="review-name"><a href="#">월미도</a></div>
              <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
            </div>
          </div>
          <div class="review-list">
            <div class="review-image">
              <img src="../img/wolmido.png">
            </div>
            <div class="review-info">
              <div class="review-name"><a href="#">월미도</a></div>
              <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
            </div>
          </div>
          <div class="review-list">
            <div class="review-image">
              <img src="../img/wolmido.png">
            </div>
            <div class="review-info">
              <div class="review-name"><a href="#">월미도</a></div>
              <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="Waright">
        <div class="post-result">
          <div class="title-box" style="height: 15%">
            <div class="post-title">{{title}}</div>
          </div>      
          <div class="intro-area">
          <div class="post-info">
              <div class="date">
                게시날짜: 
                <span>{{regDate}}</span>
              </div>
              <div class="loctag">
                <div class="loc">
                  지역: {{local}}
                </div>
                <div class="tag">
                  여행 태그:<span>
                    <a href="">#인천</a>
                    <a href="">#테마파크</a>
                    <a href="">#월미도</a>
                  </span>
                </div>
              </div>
            </div>
            <div class="delete">
              <div class="like">
                이 게시글은 명에게 추천받았습니다.
              </div>
              <div>
                <input type="button" value="수정">
                <input type="button" value="삭제">
              </div>
            </div>
          </div> 
          <div class="main-box">  
            <div class="image-box">
              <div class="slider__wrap">
                <div class="slider__img"></div>
                <div class="slider__thumb"></div>
                <div class="slider__btn">
                    <a href="#" class="prev" title="이전이미지">&lang;</a>
                    <a href="#" class="next" title="다음이미지">&rang;</a>
                </div>
            </div>
            </div>    
            <div class="text-box">
                {{content}}
            </div>
              <div style="font-family: GmarketSans; color:#6A6A6A" ><h3>여행지 주소</h3><br> {{address}}&nbsp;{{de_address}}</div>
            <div id="maps"></div>
    
            <div class="comment-container">
              <div class="input-box">
              <form class="comment-input">
                <input style ="width: 20%;" id="client" type ="text" maxlength="10" placeholder="닉네임">
                <input style ="width: 80%;" id="comment" type ="text" placeholder="작성자에게 댓글을 남겨주세요">
                <input id="comment-save" type="submit" value="댓글 작성">
              </form>
              </div>
                <div class="comment-list">
                </div>
              <div class="comment-list-box">
              <!-- <ul class="comment-list">
              </ul> -->
            
            </div>
          </div>
      </div>
      </div>
    </div>
      </div>
    </div>
  </div>
{{/gabowatdago}}
    <script src="../js/post_result.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6d7e2f086ffa97eb8f4b35fa8cc12439"></script>
    <script>
      //----------------------------------------------------------------------지도
    var mapContainer = document.getElementById('maps'), //
            mapOption = {
                center: new kakao.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
                level: 6 // 지도의 확대 레벨
            };
    //----------------------------------------------------------------------지도
        //지도를 미리 생성
        var map = new kakao.maps.Map(mapContainer, mapOption);
        // 주소-좌표 변환 객체를 생성
        // var geocoder = new daum.maps.services.Geocoder();
        // 마커를 미리 생성
        // var marker = new daum.maps.Marker({
        //     position: new daum.maps.LatLng(37.537187, 127.005476),
        //     map: map
        // });
    </script>
</body>
</html>