<div th:include="layouts/header"></div>
<link rel="stylesheet" th:href="@{/css/post_result_.css}">

<div th:object="${gabowatdago}">
    <div class="Waarea">
      <div class="Waleft">
        <div class="Waname">가봤다고</div>
        <div class="Waprofile">
          <div class="WaprofileA">
            <div class="Waimg-area">
              <div><img src="../img/cata.png" class="Waimg" alt=""></div>
            </div>
            <div class="Walist">
              <div>list1</div>
              <div>list2</div>
              <div>list3</div>
            </div>
          </div>
          <div class="WaprofileB">
            <div class="Wausername"></div>
            <div class="Waemail"></div>
          </div>
        </div>
        <div class="intro">
          <div>님! 비슷한 여행지를 추천드려요</div>
        </div>
        <div class="review-list-box">
          <div class="review-list">
            <div class="review-image">
              <img src="../img/wolmido.png">
            </div>
            <div class="review-info">
              <div class="review-name"><a href="#">월미도</a></div>
              <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
            </div>
          </div>
          <div class="review-list">
            <div class="review-image">
              <img src="../img/wolmido.png">
            </div>
            <div class="review-info">
              <div class="review-name"><a href="#">월미도</a></div>
              <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
            </div>
          </div>
          <div class="review-list">
            <div class="review-image">
              <img src="../img/wolmido.png">
            </div>
            <div class="review-info">
              <div class="review-name"><a href="#">월미도</a></div>
              <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
            </div>
          </div>
          <div class="review-list">
            <div class="review-image">
              <img src="../img/wolmido.png">
            </div>
            <div class="review-info">
              <div class="review-name"><a href="#">월미도</a></div>
              <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
            </div>
          </div>
          <div class="review-list">
            <div class="review-image">
              <img src="../img/wolmido.png">
            </div>
            <div class="review-info">
              <div class="review-name"><a href="#">월미도</a></div>
              <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
            </div>
          </div>
          <div class="review-list">
            <div class="review-image">
              <img src="../img/wolmido.png">
            </div>
            <div class="review-info">
              <div class="review-name"><a href="#">월미도</a></div>
              <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
            </div>
          </div>
          <div class="review-list">
            <div class="review-image">
              <img src="/img/wolmido.png">
            </div>
            <div class="review-info">
              <div class="review-name"><a href="#">월미도</a></div>
              <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
            </div>
          </div>
          <div class="review-list">
            <div class="review-image">
              <img src="/img/wolmido.png">
            </div>
            <div class="review-info">
              <div class="review-name"><a href="#">월미도</a></div>
              <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="Waright">
        <div class="post-result">
          <div class="title-box" style="height: 15%">
            <div class="post-title" th:text="*{title}"></div>
          </div>
          <div class="intro-area">
          <div class="post-info">
              <div class="date">
                게시날짜:
                <span>0418</span>
              </div>
              <div class="loctag">
                <div class="loc" th:text="*{local}">
                </div>
                <div class="tag">
                  여행 태그:<span>
                    <a href="">#인천</a>
                    <a href="">#테마파크</a>
                    <a href="">#월미도</a>
                  </span>
                </div>
              </div>
            </div>
            <div class="delete">
              <div class="like">
                이 게시글은 명에게 추천받았습니다.
              </div>
              <div>
                <input type="button" value="목록 보기" style="width: 15%" onclick="window.location.href='/gabowatdago'">
                <a th:href="@{'/gabowatdago/' + ${id} + '/edit'}"><input type="button" value="수정" ></a>
                <a th:href="@{'/gabowatdago/' + ${id} + '/delete'}"><input type="button" value="삭제"></a>
              </div>
            </div>
          </div>
          <div class="main-box">
            <div class="image-box">
              <div class="slider__wrap">
                <div class="slider__img">{{image}}</div>
                <div class="slider__thumb"></div>
                <div class="slider__btn">
                    <a href="#" class="prev" title="이전이미지">&lang;</a>
                    <a href="#" class="next" title="다음이미지">&rang;</a>
                </div>
            </div>
            </div>
            <div class="text-box" th:text="*{content}">
            </div>
               <h3>여행지 주소</h3><br>
              <div style="font-family: GmarketSans; color:#6A6A6A" th:text="*{address}"> </div>
              <div style="font-family: GmarketSans; color:#6A6A6A" th:text="*{de_address}"></div>
            <div id="maps"></div>

            <div class="comment-container">
              <div class="input-box">
              <form class="comment-input">
                <input style ="width: 20%;" id="client" type ="text" maxlength="10" placeholder="닉네임">
                <input style ="width: 80%;" id="comment" type ="text" placeholder="작성자에게 댓글을 남겨주세요">
                <input id="comment-save" type="submit" value="댓글 작성">
              </form>
              </div>
                <div class="comment-list">
                </div>
              <div class="comment-list-box">
              <!-- <ul class="comment-list">
              </ul> -->
            </div>
          </div>
      </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/js/post_result.js}"></script>
<script th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?appkey=6d7e2f086ffa97eb8f4b35fa8cc12439&libraries=services'}"></script>
<script>
    // 지도를 표시할 div 요소
    var mapContainer = document.getElementById('maps');

    // URL에서 폼 데이터로 전달된 좌표 값을 가져오는 함수
    function getCoordinatesFromFormData() {
        var latitudeInput = document.getElementById('latitude');
        var longitudeInput = document.getElementById('longitude');

        var latitude = parseFloat(latitudeInput.value);
        var longitude = parseFloat(longitudeInput.value);

        return { latitude: latitude, longitude: longitude };
    }

    // 폼 데이터로부터 좌표 값을 가져옴
    var coordinates = getCoordinatesFromFormData();

    // 좌표로 지도를 생성하고 마커 표시
    var map = new daum.maps.Map(mapContainer, {
        center: new daum.maps.LatLng(coordinates.latitude, coordinates.longitude),
        level: 3 // 지도의 확대 레벨
    });

    var markerPosition = new daum.maps.LatLng(coordinates.latitude, coordinates.longitude);

    // 마커를 생성합니다
    var marker = new daum.maps.Marker({
        position: markerPosition
    });

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);
</script>

<script src="../js/menu.js"></script>

</body>
</html>