<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/gabowatdago.css}">
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <title>GAXGA</title>
</head>
<body>
<th:block th:replace="~{public/layouts/header2 :: header}"></th:block>
    <div class = "gbMain">
        <div class="intro">
      <div class="left">
        <div class="pageName">가봤다고</div>
        <div class="thema">
            <a href="#" th:each="themas :${themaList}">
                <span th:text="${themas}"></span>
            </a>
        </div>
      </div>
      <div class="center">
        <button class="prev-btn" onclick="prevCategory()">&lang;&nbsp;</button>
        <div class="cate" id="cate">
          <div class="list" th:each="locations : ${locList}">
              <a href="#" style="text-decoration-line: none" th:text="${locations}"></a>
          </div>
        </div>
        <button class="next-btn" onclick="nextCategory()">&nbsp;&rang;</button>
        <button type="button" class="newPostB"
                  onclick="window.location.href='/gabowatdagoing_p'"> NEW + </button>
      </div>
      <div class="right">
            <input type="search" placeholder="search" autocomplete="on">
      </div>
     </div>
    <div class="subject">
      <div class="left" id="article">
        <a th:href="@{'/gabowatdago/'+${name.id}}" th:each="name :${gabowatdagoList}">
<!--        <span style="display: none" th:text:="${name.id}"></span>-->
          <span id="ga_loc" th:text="${name.local}"></span>
          <div></div>
          <span th:text="${name.thema}"></span>
          <div></div>
          <span th:text="${name.title}"></span>
          <div id="gabowatdago_id" th:text="${name.image}"></div>
        </a>
      </div>
      <div class="right"><img id="image" src="../img/loc/강원/강원-갈미조개.jpg" alt=""></div>
    </div>
    <script th:src="@{/js/gab_GAXGA.js}"></script>
    <script th:src="@{/js/gab_carousel.js}"></script>
    <script th:src="@{/js/menu2.js}"></script>
    <script th:src="@{/js/search.js}"></script>
    <script>
        let image_box = document.getElementById("image");
        var article_box = document.querySelectorAll("#article a");
        var change_box = document.getElementById("gabowatdago_id").innerText;

        article_box.forEach(function(article_box) {
            article_box.addEventListener("mouseover", function() {
                change_box = this.querySelector("#gabowatdago_id").innerText;
                image_box.src = change_box;
            });
        });
    </script>
</div>
  </body>
  </html>