<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/fonts.css}">
  <link rel="stylesheet" th:href="@{/css/post_result_.css}">
  <title>GAXGA</title>
</head>
<body>
<th:block th:replace="~{public/layouts/header2 :: header}"></th:block>


<div th:object="${gabowatdago}">
  <div class="WaArea">
    <div class="WaLeft">
      <div class="WaName">가봤다고</div>
      <div class="WaProfile">
        <div class="WaProfileA">
          <div class="WaImg-area">
            <div><img src="/img/cata.png" class="WaImg" alt=""></div>
          </div>
          <div class="WaList">
            <div>list1</div>
            <div>list2</div>
            <div>list3</div>
          </div>
        </div>
        <div class="WaProfileB">
          <div class="WaUserName"></div>
          <div class="WaEmail"></div>
        </div>
      </div>
      <div class="intro">
        <div>님! 비슷한 여행지를 추천드려요</div>
      </div>
      <div class="review-list-box">
        <div class="review-list">
          <div class="review-image">
            <img src="/img/wolmido.png">
          </div>
          <div class="review-info">
            <div class="review-name"><a href="#">월미도</a></div>
            <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
          </div>
        </div>
        <div class="review-list">
          <div class="review-image">
            <img src="/img/wolmido.png">
          </div>
          <div class="review-info">
            <div class="review-name"><a href="#">월미도</a></div>
            <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
          </div>
        </div>
        <div class="review-list">
          <div class="review-image">
            <img src="../img/wolmido.png">
          </div>
          <div class="review-info">
            <div class="review-name"><a href="#">월미도</a></div>
            <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
          </div>
        </div>
        <div class="review-list">
          <div class="review-image">
            <img src="../img/wolmido.png">
          </div>
          <div class="review-info">
            <div class="review-name"><a href="#">월미도</a></div>
            <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
          </div>
        </div>
        <div class="review-list">
          <div class="review-image">
            <img src="../img/wolmido.png">
          </div>
          <div class="review-info">
            <div class="review-name"><a href="#">월미도</a></div>
            <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
          </div>
        </div>
        <div class="review-list">
          <div class="review-image">
            <img src="../img/wolmido.png">
          </div>
          <div class="review-info">
            <div class="review-name"><a href="#">월미도</a></div>
            <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
          </div>
        </div>
        <div class="review-list">
          <div class="review-image">
            <img src="/img/wolmido.png">
          </div>
          <div class="review-info">
            <div class="review-name"><a href="#">월미도</a></div>
            <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
          </div>
        </div>
        <div class="review-list">
          <div class="review-image">
            <img src="/img/wolmido.png">
          </div>
          <div class="review-info">
            <div class="review-name"><a href="#">월미도</a></div>
            <div class="review-address"><a href="#">안산시 단원구 와동 황금길</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="WaRight">
      <div class="post-result">
        <div class="title-box" style="height: 15%">
          <input type="hidden" id="latitude" th:value="*{lat}">
          <input type="hidden" id="longitude" th:value="*{lng}">
          <div class="post-title" th:text="*{title}"></div>
        </div>
        <div class="intro-area">
          <div class="post-info">
            <div class="date">
              게시날짜:
<!--              <span th:text="*{regDate}"></span>-->
            </div>
            <div class="locTag">
              <div class="loc" th:text="*{local}">
              </div>
            </div>
          </div>
          <div class="delete">
            <div>
              <img id="like_before" src="/img/빈하트.png">
              <img id="like_after" src="/img/빨간하트.png" style="display: none">
            </div>
            <div>
              <span class="likeCount" th:text="*{likeCount} + '명이 좋아요 한 게시글 입니다'"></span>
            </div>
            <div>
              <!--            <--로그인한사람의 nickname과 게시글상의 nickname을 비교하여 일치하면 수정 삭제 버튼을 출력한다.-->
              <a th:if="${gaId == gabowatdago.gaId}" th:href="@{'/gabowatdago/' + ${id} + '/edit'}"><input type="button" value="수정" style="line-height: 0.6;" class="btn btn-outline-success"></a>
              <a th:if="${gaId == gabowatdago.gaId}" th:href="@{'/gabowatdago/' + ${id} + '/delete'}"><input type="button" value="삭제" style="line-height: 0.6;" class="btn btn-outline-danger" onclick="return delOk()" ></a>
              <input type="button" class="btn btn-outline-success" value="목록 보기" style="width: 15%; line-height: 0.6;" onclick="window.location.href='/gabowatdago'">
            </div>
          </div>
        </div>
        <div class="main-box">
          <div class="image-box">
            <div class="slider__wrap">
              <div class="slider__img" th:text="*{image}"></div>
              <div class="slider__thumb"></div>
              <div class="slider__btn">
                <a href="#" class="prev" title="이전이미지">&lang;</a>
                <a href="#" class="next" title="다음이미지">&rang;</a>
              </div>
            </div>
          </div>
          <button style="display: none" type="button" id="test">클릭테스트</button>
          <div class="text-box" th:text="*{content}">
          </div>
          <button id="deleteStorage">스토리지삭제</button>
          <h3>여행지 주소</h3><br>
          <div style="font-family: GmarketSans; color:#6A6A6A" th:text="*{address}"> </div>
          <div style="font-family: GmarketSans; color:#6A6A6A" th:text="*{de_address}"></div>
          <div id="maps"></div>

          <div class="comment-container">
            <div class="input-box">
              <form class="comment-input">
                <input style ="width: 20%;" id="client" type ="text" maxlength="10" placeholder="닉네임">
                <textarea style ="width: 80%;" id="comment" type ="text" placeholder="작성자에게 댓글을 남겨주세요"></textarea>
                <input type="hidden" id="new-comment-gabowatdago_id" th:value="*{id}">
                <input type="hidden" id="like_input" th:value="${user}">
                <input id="comment-save" type="submit" value="댓글 작성">
              </form>
            </div>
            <div class="comment-list-box">
              <div class="cmt_container" th:each="cmt :${cmtDtos}" style="margin: 10px">
                <h5 class="cmt_title"  style="display: flex;">
                  <span th:text="${cmt.nickname}"></span>
                  <div>
                    <!-- Button trigger modal -->
<!--                    <button type="button"-->
<!--                            style="line-height: 0.5;"-->
<!--                            id="updateBtn"-->
<!--                            class="btn btn-outline-success"-->
<!--                            data-bs-toggle="modal"-->
<!--                            th:data-bs-target="${cmt.id}"-->
<!--                    >수정</button>-->
                    <button th:if="${gaId == gabowatdago.gaId}" type="button" id="deleteBtn"
                            th:data-comment-id="${cmt.id}">삭제</button>
                  </div>
                </h5>
                <div class="cmt-body">
                  <p class="card-title" th:text="${cmt.body}"></p>
                </div>
                <!-- Modal -->
<!--                <div class="modal fade" th:id="${cmt.id}" tabindex="-1">-->
<!--                  <div class="modal-dialog">-->
<!--                    <div class="modal-content">-->
<!--                      <div class="modal-header">-->
<!--                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                      </div>-->
<!--                      <div class="modal-body">-->
<!--                        ...-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?appkey=6d7e2f086ffa97eb8f4b35fa8cc12439&libraries=services'}"></script>
<script th:src="@{/js/post_result.js}"></script>
<script th:src="@{/js/menu.js}"></script>
<script th:src="@{/js/like.js}"></script>
<script>
  //오라클 연동 전에 사용하는 임시 스토리지 삭제 버튼
  const deleteStorage = document.querySelector("#deleteStorage")
  deleteStorage.addEventListener("click",function (){
     localStorage.clear();
  })
</script>
</body>
</html>